.ratings {
    margin: 10px 0;
    font-size: 1rem;
    width: 100%;
    display: flex;
    div:first-child {
        flex: 1;
    }
    div:last-child {
        margin-left: 10px;
        flex: 8;
    }
}